@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Segoe UI", "PingFang SC", "Microsoft YaHei", sans-serif;
  color: #0f172a;
  background-color: #f1f5f9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
